<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Favoritos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-noticias [noticias]="noticias"> </app-noticias>
</ion-content>
