<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Categorias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-segment scrollable="true" (ionChange)="segmentChanged($event)">
    <ion-segment-button
      *ngFor="let categoria of categorias"
      value="{{categoria}}"
    >
      <ion-label>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-noticias [noticias]="noticias"> </app-noticias>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
